### 📝 Patients With a Condition

❗Easy

| Column Name  | Type    |
|--------------|---------|
| patient_id   | int     |
| patient_name | varchar |
| conditions   | varchar |

patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Patients table:

| patient_id | patient_name | conditions   |
|------------|--------------|--------------|
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |

Output: 

| patient_id | patient_name | conditions   |
|------------|--------------|--------------|
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 | 

Explanation: Bob and George both have a condition that starts with DIAB1.

### 🧠 Solution

In [6]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    '''
    ^: Anchors the match at the beginning of the string.
    (\S*\s)*?: Allows any number of non-whitespace characters followed by spaces.
    DIAB1: Matches the substring DIAB1 anywhere within the string.
    '''
    return patients[patients.conditions.str.match(r'(^(\S*\s)*?DIAB1)')]

### ✅ Test Cases

In [7]:
data = {
    'patient_id': [1, 2, 3, 4, 5],
    'patient_name': ['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
    'conditions': ['YFEV COUGH', '', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201']
}

patients = pd.DataFrame(data)
find_patients(patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [9]:
data = {
    'patient_id': [1, 2, 3, 4, 5],
    'patient_name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'conditions': ['YFEV COUGH', '', ' DIAB100', 'ACNE DIAB100', 'DIAB101']
}
patients = pd.DataFrame(data)
find_patients(patients)

   patient_id patient_name    conditions
2           3      Charlie       DIAB100
3           4        David  ACNE DIAB100
4           5        Emily       DIAB101