### ðŸ“ Fix Names in a Table

â—Easy

| Column Name    | Type    |
|----------------|---------|
| user_id        | int     |
| name           | varchar |

user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by `user_id`.

The result format is in the following example.

Example 1:

Input: 
Users table:

| user_id | name  |
|---------|-------|
| 1       | aLice |
| 2       | bOB   |

Output: 

| user_id | name  |
|---------|-------|
| 1       | Alice |
| 2       | Bob   |

### ðŸ§  Solution

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.str.capitalize()
    return users.sort_values(by='user_id')

### âœ… Test Cases

In [2]:
users = pd.DataFrame({'user_id': [1, 2], 'name': ['aLice', 'bOB']})
fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

In [10]:
users = pd.DataFrame({'user_id': [1, 2, 3, 4], 'name': ['alice', 'bOb', 'cHaRlIe', 'dAviD']})
fix_names(users)

   user_id     name
0        1    Alice
1        2      Bob
2        3  Charlie
3        4    David