### ðŸ“ Second Highest Salary

â—Medium

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

Example 1:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

Output: 

| SecondHighestSalary |
|---------------------|
| 200                 |

Example 2:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

Output: 

| SecondHighestSalary |
|---------------------|
| null                |

### ðŸ§  Solution

In [1]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    try:
        res = employee.sort_values(by='salary', ascending=False).drop_duplicates(subset='salary').iloc[1][['salary']][0]
    except:
        res = None
    
    df = pd.DataFrame(
        [res],
        columns=['SecondHighestSalary']
    )

    return df

### âœ… Test Cases

In [2]:
data = {
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
}

employee = pd.DataFrame(data)
second_highest_salary(employee)

   SecondHighestSalary
0                  200

In [3]:
data = {
    'id': [1, 2, 3],
    'salary': [100, 100, 300]
}

employee = pd.DataFrame(data)
second_highest_salary(employee)

   SecondHighestSalary
0                  100