### ðŸ“ Nth Highest Salary

â—Medium

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

The result format is in the following example.

Example 1:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

n = 2
Output: 

| getNthHighestSalary(2) |
|------------------------|
| 200                    |

Example 2:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

n = 2
Output: 

| getNthHighestSalary(2) |
|------------------------|
| null                   |

### ðŸ§  Solution

In [4]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    try:
        if N > 0:
            res = employee.sort_values(by='salary', ascending=False).drop_duplicates(subset='salary').iloc[N-1][['salary']][0]
        else:
            res = None
    except:
        res = None
    df = pd.DataFrame(
        [res],
        columns=[f'getNthHighestSalary({N})']
    )
    return df

### âœ… Test Cases

In [5]:
data = {
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
}

employee = pd.DataFrame(data)
nth_highest_salary(employee, 2)

   getNthHighestSalary(2)
0                     200

In [6]:
data = {
    'id': [1, 2],
    'salary': [100, 100]
}

employee = pd.DataFrame(data)
nth_highest_salary(employee, 2)

  getNthHighestSalary(2)
0                   None