### ðŸ“ Count Salary Categories

â—Medium

| Column Name | Type |
|-------------|------|
| account_id  | int  |
| income      | int  |

account_id is the primary key (column with unique values) for this table.
Each row contains information about the monthly income for one bank account.
 

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

- "Low Salary": All the salaries strictly less than $20000.
- "Average Salary": All the salaries in the inclusive range [$20000, $50000].
- "High Salary": All the salaries strictly greater than $50000.
The result table must contain all three categories. If there are no accounts in a category, return 0.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Accounts table:

| account_id | income |
|------------|--------|
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |

Output: 

| category       | accounts_count |
|----------------|----------------|
| Low Salary     | 1              |
| Average Salary | 0              |
| High Salary    | 3              |

Explanation: 
- Low Salary: Account 2.
- Average Salary: No accounts.
- High Salary: Accounts 3, 6, and 8.

### ðŸ§  Solution

In [1]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low = len(accounts.query('income < 20000'))
    av = len(accounts.query('income >= 20000 and income <= 50000'))
    hi = len(accounts.query('income > 50000'))

    data = {
        'category':['Low Salary','Average Salary','High Salary'],
        'accounts_count':[low,av,hi]
    } 

    return pd.DataFrame(data)

### âœ… Test Cases

In [2]:
data = {
    'account_id': [3, 2, 8, 6],
    'income': [108939, 12747, 87709, 91796]
}

accounts = pd.DataFrame(data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [3]:
data = {
    'account_id': [3, 2, 8, 6],
    'income': [108939, 12000, 107709, 11796]
}

accounts = pd.DataFrame(data)
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               2
1  Average Salary               0
2     High Salary               2